---
- name: Install zfs packages
  package:
    name:
      - nfs-kernel-server
      - zfsutils-linux
      - kexec-tools
      - samba-common-bin
      - sdparm
      - sysstat
      - smartmontools 
      - iftop
      - nfswatch
      - pigz 
      - zstd
      - ipmitool
      - python3-pip
      - ipmitool
  tags:
    - zfs
    - kexec

- name: Get IPMI Address
  shell:
    cmd: ipmitool lan print | awk '/^IP Address\s+:/ { print $4 }'
  register: ipmi
  changed_when: false
  tags:
    - ipmi

- name: Update motd with kexec warning
  template: src=motd dest=/etc/motd
  tags:
    - motd
    - ipmi

- name: Make finalrd override folder
  file:
    state: directory
    path: /etc/systemd/system/finalrd.service.d
    mode: 0755
  tags:
    - kexec
  when: false

- name: Put finalrd override in place
  copy:
    dest: /etc/systemd/system/finalrd.service.d/override.conf
    src: finalrd.override
    mode: 0644
  tags:
    - kexec
  notify: systemctl-reload
  when: false

- name: Make kexec override folder
  file:
    state: directory
    path: /etc/systemd/system/systemd-kexec.service.d
    mode: 0755
  tags:
    - kexec
  when: false

- name: Put finalrd override in place
  copy:
    dest: /etc/systemd/system/systemd-kexec.service.d/override.conf
    src: kexec.override
    mode: 0644
  tags:
    - kexec
  notify: systemctl-reload
  when: false

- name: Disable services being started and stopped during upgrades
  copy:
    src: policy-rc.d
    dest: /usr/sbin/policy-rc.d
    mode: 0755
  when: false

